


.button {
text-transform: capitalize;
font-size: 1.4rem;
background: transparent;
border: 0.05rem solid #009ffd;
border-color: #009ffd;
color: #009ffd;
border-radius: 0.5rem;
padding: 0.2rem 0.5rem;
cursor: pointer;
margin: 0.2rem 0.5rem 0.2rem 0;
transition: all 0.5s ease-in-out;
}

.button:hover {
    background: #009ffd;
    color: #2a2a72;
    outline: none;
}
.nav {
    background: #2a2a72;
}

.nav-link{
    color: #f3f3f3 !important;
    font-size: 1.3em;
    text-transform: capitalize !important;
}